---
configs:
  use: 'system'

  system:
    vagrant_box: '{{ vagrant_box }}'

    hosts: [
{% for host in vagrant_vm_list %}
      "{{ host.hostname }}"
{% endfor %}
      ]

{% for host in vagrant_vm_list %}
    {{ host.hostname }}:
      hostname: '{{ host.hostname }}'

{% endfor %}
...
